{
  ;; C  | left_command  ;; Q  | right_command
  ;; T  | left_control  ;; W  | right_control
  ;; O  | left_option   ;; E  | right_option
  ;; S  | left_shift    ;; R  | right_shift
  ;; F  | fn            ;; !! | command + control + optional + shift (hyper)
  ;; !  | mandatory     ;; #  | optional (single)  ;; ## | optional any

  :profiles       {
                    :Default  {
                                :default true
                                :sim     50
                                :delay   500
                                :alone   1000
                                :held    500
                              }
                  }

  :input-sources  {
                    :en_typo {:input_source_id "org.sil.ukelele.keyboardlayout.t.english-ilyabirmantypography"}
                    :ru_typo {:input_source_id "org.sil.ukelele.keyboardlayout.t.russian-ilyabirmantypography"}
                    :en {:input_source_id "^com.apple.keylayout.US$"}
                    :ru {:input_source_id "^com.apple.keylayout.Russian$"}
                    :cs {:input_source_id "^com.apple.keylayout.Czech$"}
                  }

  :templates      {
                    :open       "open \"%s\""
                    :open-app   "open -a \"%s\""
                    :paste "osascript -e '
                              set the clipboard to \"%s\"
                              tell application \"System Events\"
                                keystroke \"v\" using command down
                              end tell'"
                  }

  :layers         {
                    :launch-mode    {:key :tab}
                  }

  :main [
          {:des "Change input source to English by left_command; Russian by right_command."
           :rules [
                    [:left_command    :left_command    nil {:alone {:input :en_typo}}]
                    [:right_command   :right_command   nil {:alone {:input :ru_typo}}]
                    [:left_shift      :left_shift      nil {:alone {:input :en_typo}}]
                    [:right_shift     :right_shift     nil {:alone {:input :ru_typo}}]
                    [:!Cright_command :!Cright_command nil {:alone {:input :cs}}]
                    [:!Qleft_command  :!Qleft_command  nil {:alone {:input :cs}}]
                    [:!Sright_shift   :!Sright_shift   nil {:alone {:input :ru}}]
                    [:!Rleft_shift    :!Rleft_shift    nil {:alone {:input :en}}]
                  ]
          }

          {:des "Caps Lock to Hyper, alone to Escape"
           :rules [
                    [:caps_lock   :!CTOleft_shift nil {:alone :escape}]
                    [:!Ccaps_lock :!Cescape]
                    [:!Qcaps_lock :!Qescape]
                  ]
          }

          {:des "Map hyper+hjkl to arrows, hyper+d to delete"
           :rules [
                    [:!!d :delete_forward]
                    [:!!h :left_arrow]
                    [:!!j :down_arrow]
                    [:!!k :up_arrow]
                    [:!!l :right_arrow]
                  ]
          }

          {:des "Snippets"
           :rules [
                    [:!Fopen_bracket   [:paste "george.golman@gmail.com"]]
                    [:!Fclose_bracket  [:paste "grigorii.golman@veeam.com"]]
                  ]
          }

          {:des "Run applications"
           :rules [
                    [:!Qperiod          [:open-app "System Settings"]]
                    [:!Creturn_or_enter [:open-app "iTerm"]]
                    [:!Qreturn_or_enter [:open-app "iTerm"]]
                  ]
          }

          {:des "Function keys"
           :rules [:launch-mode
                    [:##1          :f1]
                    [:##2          :f2]
                    [:##3          :f3]
                    [:##4          :f4]
                    [:##5          :f5]
                    [:##6          :f6]
                    [:##7          :f7]
                    [:##8          :f8]
                    [:##9          :f9]
                    [:##0          :f10]
                    [:##hyphen     :f11]
                    [:##equal_sign :f12]
                  ]
          }

          {:des "Run applications in launch mode"
           :rules [:launch-mode
                    [:return_or_enter [:open-app   "Terminal"]]
                    [:w               [:open-app   "Brave Browser"]]
                    [:e               [:open-app   "Telegram"]]
                    [:r               [:open-app   "WarpPreview"]]
                    [:t               [:open-app   "Finder"]]
                    [:a               [:open-app   "RapidAPI"]]
                    [:s               [:open-app   "Visual Studio Code"]]
                    [:d               [:open-app   "IntelliJ IDEA"]]
                    [:f               [:open-app   "Fork"]]
                    [:g               [:open-app   "Garmin Express"]]
                    [:h               [:open-app   "Home"]]
                    [:m               [:open-app   "Mail"]]
                    [:i               [:open-app   "1Password 7"]]
                    [:p               [:open-app   "Pixelmator Pro"]]
                    [:z               [:open-app   "Zed"]]
                    [:x               [:open-app   "Spotify"]]
                    [:c               [:open-app   "Calendar"]]
                    [:b               [:open-app   "Safari"]]
                    [:open_bracket    [:open-app   "Steam"]]
                    [:close_bracket   [:open-app   "Cisco Secure Client"]]
                  ]
          }
        ]
}
