{
  ;; C  | left_command  ;; Q  | right_command
  ;; T  | left_control  ;; W  | right_control
  ;; O  | left_option   ;; E  | right_option
  ;; S  | left_shift    ;; R  | right_shift
  ;; F  | fn            ;; !! | command + control + optional + shift (hyper)
  ;; !  | mandatory     ;; #  | optional (single)  ;; ## | optional any

  :profiles       {
                    :default  {
                                :default true
                                :sim     50
                                :delay   500
                                :alone   1000
                                :held    500
                              }
                  }

  :input-sources  {
                    :en {:input_source_id "^com.apple.keylayout.US$"}
                    :ru {:input_source_id "^com.apple.keylayout.Russian$"}
                  }

  :devices        {
                    :apple [{:vendor_id 1452, :product_id 635}]
                  }

  :templates      {
                    :open       "open \"%s\""
                    :open-app   "open -a \"%s\""
                  }

  :layers         {
                    :launch-mode    {:key :tab}
                  }

  :main [
          {:des "Change input source to English by left_command; Russian by right_command."
           :rules [
                    [:left_command  :left_command  nil {:alone {:input :en}}]
                    [:right_command :right_command nil {:alone {:input :ru}}]
                  ]
          }

          {:des "Section sign (§) to Escape and fn + Section sign (§) to Section sign (§)."
           :rules [:apple
                    [:non_us_backslash :grave_accent_and_tilde]
                    [:!Cnon_us_backslash :!Cgrave_accent_and_tilde]
                    [:!Tnon_us_backslash :!Tgrave_accent_and_tilde]
                    [:!Fnon_us_backslash :non_us_backslash]
                  ]
          }

          {:des "Caps Lock to Hyper, alone to Escape"
           :rules [
                    [:caps_lock   :!CTOleft_shift nil {:alone :escape}]
                    [:!Ccaps_lock :!Cescape]
                    [:!Qcaps_lock :!Qescape]
                  ]
          }

          {:des "Map hyper+hjkl to arrows"
           :rules [
                    [:!!d :delete_forward]
                    [:!!h :left_arrow]
                    [:!!j :down_arrow]
                    [:!!k :up_arrow]
                    [:!!l :right_arrow]
                  ]
          }

          {:des "Run applications"
           :rules [
                    [:!Creturn_or_enter [:open-app "iTerm"]]
                    [:!Qreturn_or_enter [:open-app "iTerm"]]
                  ]
          }

          {:des "Function keys"
           :rules [
                    [:!F1          :f1]
                    [:!F2          :f2]
                    [:!F3          :f3]
                    [:!F4          :f4]
                    [:!F5          :f5]
                    [:!F6          :f6]
                    [:!F7          :f7]
                    [:!F8          :f8]
                    [:!F9          :f9]
                    [:!F0          :f10]
                    [:!Fhyphen     :f11]
                    [:!Fequal_sign :f12]
                  ]
          }

          {:des "Run applications in launch mode"
           :rules [:launch-mode
                    [:return_or_enter [:open-app "Terminal"]]
                    [:w               [:open-app "Safari"]]
                    [:e               [:open-app "Telegram"]]
                    [:r               [:open-app "iTerm"]]
                    [:t               [:open-app "Finder"]]
                    [:a               [:open-app "Calendar"]]
                    [:s               [:open-app "Sublime Text"]]
                    [:d               [:open-app "IntelliJ IDEA"]]
                    [:f               [:open-app "Firefox"]]
                    [:g               [:open-app "Fork"]]
                    [:m               [:open-app "Mail"]]
                    [:o               [:open-app "Microsoft Teams"]]
                    [:x               [:open-app "Spotify"]]
                    [:c               [:open-app "Visual Studio Code"]]
                    [:b               [:open-app "Brave Browser"]]
                    [:close_bracket   [:open-app "Cisco AnyConnect Secure Mobility Client"]]
                  ]
          }
        ]
}
